{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% trans "Argument Analysis Platform. Create and analyze argument maps online." %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="description" content="{% block description %}{% trans "Argument analysis and mapping platform" %}{% endblock %}" />
    {% load static %}
    <link rel="stylesheet" href="{% static "css/h5bp.css" %}" />
    <link rel="stylesheet" href="{% static "css/normalize.css" %}" />
    <link rel="stylesheet" href="{% static "css/main.css" %}?v=3.2.6" />
    <link rel="icon" type="image/png" href="{% static "img/favicon.png" %}" />
    <link rel="image_src" type="image/png" href="https://arguman.org{% static "img/logo-large.png" %}" />
    <meta property="og:image" content="http://arguman.org{% static "img/logo-large.png" %}"/>
    {% block extra-meta %}{% endblock %}
    {% if allsettings.GOOGLE_TAG_MANAGER_CODE %}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{allsettings.GOOGLE_TAG_MANAGER_CODE}}');</script>
    <!-- End Google Tag Manager -->
    {% endif %}
</head>
<body{% block body-attrs %}{% endblock %}>
{% if allsettings.GOOGLE_TAG_MANAGER_CODE %}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{allsettings.GOOGLE_TAG_MANAGER_CODE}}"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% endif %}
{% block header %}
<header class="container">
    {% if announcements.exists %}
    <ul class="announcements">
        {% for announcement in announcements %}
            <li><strong>{% trans "Announcement:" %} </strong> <a href="{{ announcement.get_absolute_url }}">{{ announcement.title }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    <div id="logo">
        <a href="{% if user.is_anonymous %}/{% else %}{% url "newsfeed" %}{% endif %}">
            argüman
            <img src="{% static "img/logo.png" %}" alt=""/></a>
    </div>
    <nav>
        <ul id="site-navigation">
            <li><a href="{% url "about" %}">{% trans "about" %}</a></li>
            <li><a href="{% url "blog" %}">{% trans "blog" %}</a></li>
            {% if user.is_anonymous %}
            <li><a href="{% url "auth_registration" %}">{% trans "register" %}</a></li>
            <li><a href="{% url "auth_login" %}">{% trans "login" %}</a></li>
            {% else %}
            <li><a class="new-argument-link" href="{% url "new_argument" %}">{% trans "new argument" %}</a></li>
            <li><a class="username" href="{% url "auth_profile" user.username %}">{{ user.username|truncatechars:14 }}</a>
                (<a href="{% url "auth_logout" %}">{% trans "logout" %}</a>)</li>
            {% endif %}
            <li class="inline-search pull-right">
                <form action="{% url "contentions_search" %}">
                    <input type="search" name="keywords" id="keyword" placeholder="{% trans "search keywords" %}">
                </form>
            </li>
            <li class="social-links">
                {% get_current_language as language %}
                {% if allsettings.AVAILABLE_LANGUAGES_WITH_NAMES %}
                  {% trans "Languages:" %}
                  {% for lang_code, lang_name in allsettings.AVAILABLE_LANGUAGES_WITH_NAMES %}
                  <a {% if language == lang_code %}class="active" {% endif %} href="http://{{ lang_code }}.arguman.org">{{ lang_name }}</a>
                  {% endfor %}
                  <br>
                {% endif %}

                {% if allsettings.TWITTER_ACCOUNT %}
                {% trans "Follow on twitter:" %} <a href="https://x.com/{{ allsettings.TWITTER_ACCOUNT }}" target="_blank">{{ allsettings.TWITTER_ACCOUNT }}</a> <br />
                {% endif %}

                {% if allsettings.REDDIT_ACCOUNT %}
                  Subreddit: <a href="https://www.reddit.com/r/{{ allsettings.REDDIT_ACCOUNT }}" target="_blank">/r/{{ allsettings.REDDIT_ACCOUNT }}</a>
                {% endif %}
            </li>
        </ul>
    </nav>
</header>
{% endblock %}
{% block content %}
{% endblock %}
{% block footer %}
<footer>
    <div class="container">
        <p>
            {% blocktrans trimmed %}
                <p>arguman is an free/libre software project — sponsored by<a href="https://prisync.com/"><img src="http://arguman.org/static/img/prisync.png" alt="prisync" width="100" style="margin-left: 10px;mix-blend-mode: multiply;"></a>

</p>
            {% endblocktrans %}
        </p>
        <p>
            <a href="/tos">{% trans "Terms of Service" %}</a> |
            {% if allsettings.FEEDBACK_URL %}
              <a href="{{ allsettings.FEEDBACK_URL }}">{% trans "Feedback" %}</a> |
            {% endif %}
            {% if allsettings.DONATE_URL %}
              <a href="{{ allsettings.DONATE_URL }}">{% trans "Donate" %}</a> |
            {% endif %}
            {% if allsettings.CONTACT_EMAIL %}
              <a href="mailto:{{ allsettings.CONTACT_EMAIL }}">{% trans "Contact" %}</a>
            {% endif %}
        </p>
    </div>
</footer>
{% endblock %}
<script type="text/javascript" src="{% static "js/lib/jquery-1.10.2.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/lib/jquery-ui.custom.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/lib/class.js" %}"></script>
<script type="text/javascript" src="{% static "js/lib/hipo.infinity-scroll.js" %}"></script>
<script type="text/javascript" src="{% static "js/main.js?v=3.2.2" %}"></script>
{% block extra-scripts %}{% endblock %}
</body>
</html>
